@model MarketAPP.Model.ProductViewModel

@{
    ViewBag.Title = "Create";
}
<link href="~/Content/css/StyleSheet1.css" rel="stylesheet" />

<section class="checkout-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-2 order-lg-1">

                <form method="post" action='@Url.Action("Create","Product")' enctype="multipart/form-data" class="checkout-form">
                    <div class="cf-title">Ürün Ekle</div>
                    @if (@TempData["Mesaj"] != null)
                    {
                        <div class="alert alert-success">
                            <div class="container">
                                <div class="alert-icon">
                                    <i class="material-icons"></i>
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="material-icons">x</i></span>
                                </button>
                                <b>MESAJ:</b> @TempData["Mesaj"]
                            </div>
                        </div>
                    }

                    <div class="row address-inputs">
                        <div class="col-md-12">
                            <label>Ürün Adı</label>
                            <input type="text" placeholder="Ürün Adı" id="ProductName" name="ProductName" required>
                            <label>Kategori Adı</label>
                            <select id="CategoryId" name="CategoryId" required>
                                @foreach (var item in Model.CategoryList.Where(x => x.TopCategoryId != null))
                                {
                                    <option value="@item.Id">@item.CategoryName</option>
                                }

                            </select>

                        </div>
                        <div class="col-md-12">
                            <label>Fiyat</label>
                            <input type="text" placeholder="Fiyat" id="Cost" name="Cost" required>
                        </div>
                        <div class="col-md-12">
                            <label>Açıklama</label>
                            <textarea placeholder="Açıklama" id="Detail" name="Detail"></textarea>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="fileupload btn btn-info btn-anim">
                                    <i class="fa fa-upload"></i><span class="btn-text">Yükle</span>
                                    <input type="file" class="upload" id="pics" name="pics" onClick="Clean()" multiple>
                                </div>
                            </div>

                        </div>
                    </div>
                    <button type="submit" class="site-btn submit-order-btn">Kaydet</button>

                </form>

            </div>
        </div>
    </div>
</section>


